In [14]:
#this a single line comment
"""
   this is a multiline code
   which works for multiple line
   as you can see 
"""
print("Hello")

Hello

Differnt types are single and multiline

In [16]:
#Variables are container for storing data
x = 5 # declaring value 5 for the variable x
x

5

In [21]:
a = 5
type(a)
a = float(a) # converting the data type for int to float
type(a)

float

print("Writing this in my notepad and will execute from command prompt")
    C:\Users\Smita>cd downloads
    C:\Users\Smita\Downloads>python command.py
        Writing this in my notepad and will execute from command prompt

In [2]:
my_list = [1, 2, 3, 4, 5]
my_list[1:3]

[2, 3]

In [3]:
# complex number is a combination of real number and imaginary number
a = 3+4j     # assigning complex value to variable a
type(a)

complex

In [4]:
age = 25    # defining variable named "age" assigning value 25 to it.
age

25

In [5]:
price = 9.99   #the data type is float
type(price)

float

In [6]:
name = "Ajay Santosh Soni"
name     # for printing the value of the variable

'Ajay Santosh Soni'

In [14]:
s = ("hello, World!")
s[6:13]

' World!'

In [15]:
is_student = True